In [1]:
import pandas as pd
import numpy as np

In [2]:
import re
import nltk
from nltk.tokenize import word_tokenize

In [3]:
df = pd.read_csv('data_after_cleansing_normalized.csv')

In [4]:
df.head()

,Tweet,HS,normalized_tweet,clean_tweet
0,- disaat semua cowok berusaha melacak perhatia...,1,- di saat semua pria berusaha melacak perhatia...,di saat semua pria berusaha melacak perhatian...
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,RT USER: USER siapa telat memberi tau elu?eda...,rt user user siapa telat memberi tau eluedan s...
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,"41. Kadang aku berfikir, kenapa aku tetap perc...",kadang aku berfikir kenapa aku tetap percaya ...
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,user user aku itu akunnku tau matamu sipit tap...
4,USER USER Kaum cebong kapir udah keliatan dong...,1,USER USER Kaum kecebong kafir sudah kelihatan ...,user user kaum kecebong kafir sudah kelihatan ...

In [5]:
df.shape

(18396, 4)

In [6]:
df['HS'].value_counts()

HS
0    10947
1     7449
Name: count, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score, log_loss
from sklearn.metrics import classification_report, confusion_matrix

In [8]:
x_train, x_test, y_train, y_test = train_test_split(df['clean_tweet'], df['HS'], test_size = 0.2, random_state = 42,stratify=df['HS'])

In [10]:
x_train.head()

15595    some berpikir doesnt add up from the present r...
16984    because he cant actualy provide a satisfactory...
4852     user ini aku salut dari rejim skrg konsisten k...
9774     user user user celengnya teriak teriak kecebon...
12850    derita nun jauh di sana akan sama dirasakan pe...
Name: clean_tweet, dtype: object

In [9]:
x_test.head()

3455     di amerika diketahui sekitar orang setiap tahu...
12711    user user alhamdulillah akhirnya kamu menyadar...
2845     wah transgender bisa jadi calon legislatif di ...
15566             wth is this even real bejat banget allah
5319     user berdoa saja suatu saat keluarga kamu tida...
Name: clean_tweet, dtype: object

In [10]:
y_train.head()

15595    0
16984    0
4852     0
9774     1
12850    0
Name: HS, dtype: int64

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [13]:
vectorizer = TfidfVectorizer()
train_tfidf= vectorizer.fit_transform(x_train)

In [14]:
TFIDF_train=pd.DataFrame(train_tfidf.toarray(),columns=vectorizer.get_feature_names_out())
TFIDF_train.head()

,__,___,____,_____,______,____________,_also_,_kepada,_sb_,aa,...,zu,zuhair,zul,zulkarnain,zulkifli,zumi,zumiiiii,zxfxfxxxfxfxaxa,zzzzzzzz,zzzzzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
train_tfidf.shape

(14716, 33403)

In [16]:
col=TFIDF_train.columns

In [17]:
#stopword removal
from nltk.corpus import stopwords
nltk.download('stopwords')

list_stopwords = set(stopwords.words('indonesian'))

nonstop_tokens = [word for word in col if not word in list_stopwords]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\gilan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [18]:
train_tfidf=TFIDF_train[nonstop_tokens ]

In [19]:
train_tfidf.shape

(14716, 32793)

In [20]:
from sklearn import svm
svm_class = svm.LinearSVC( random_state=42)
svm_class.fit(train_tfidf, y_train)

C:\Users\gilan\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(

LinearSVC(random_state=42)

In [21]:
test_tfidf = vectorizer.transform(x_test)

In [22]:
TFIDF_test=pd.DataFrame(test_tfidf.toarray(),columns=vectorizer.get_feature_names_out())
TFIDF_test.head()

,__,___,____,_____,______,____________,_also_,_kepada,_sb_,aa,...,zu,zuhair,zul,zulkarnain,zulkifli,zumi,zumiiiii,zxfxfxxxfxfxaxa,zzzzzzzz,zzzzzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
test_tfidf=TFIDF_test[nonstop_tokens]

In [24]:
test_svm_class=svm_class.predict(test_tfidf)

In [25]:
print('\nClassification Report\n')
print(classification_report(y_test, test_svm_class, target_names=['0','1']))

Classification Report

              precision    recall  f1-score   support

           0       0.81      0.85      0.83      2190
           1       0.76      0.72      0.74      1490

    accuracy                           0.79      3680
   macro avg       0.79      0.78      0.78      3680
weighted avg       0.79      0.79      0.79      3680