In [1]:
import pandas as pd
import numpy as np

In [2]:
import re
import nltk
from nltk.tokenize import word_tokenize

In [3]:
df=pd.read_csv('data_after_cleansing_normalized.csv')

In [4]:
df.head()

,Tweet,HS,normalized_tweet,clean_tweet
0,- disaat semua cowok berusaha melacak perhatia...,1,- di saat semua pria berusaha melacak perhatia...,di saat semua pria berusaha melacak perhatian...
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,RT USER: USER siapa telat memberi tau elu?eda...,rt user user siapa telat memberi tau eluedan s...
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,"41. Kadang aku berfikir, kenapa aku tetap perc...",kadang aku berfikir kenapa aku tetap percaya ...
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,user user aku itu akunnku tau matamu sipit tap...
4,USER USER Kaum cebong kapir udah keliatan dong...,1,USER USER Kaum kecebong kafir sudah kelihatan ...,user user kaum kecebong kafir sudah kelihatan ...

#### Split Data

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df['clean_tweet'], df['HS'], test_size = 0.2, random_state = 0)

In [6]:
x_train.head()

2573     user user iya juga yg bilang banyak asing amp ...
2091     user user kayak tidak ada pemilihan kata lain ...
4683     user user gw tetap anti cinagara gara aku tida...
8832     user kafir di sini paling suka bilang koparkap...
10469    user user nape kamu semakin jauh bud apa lidah...
Name: clean_tweet, dtype: object

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
vectorizer = TfidfVectorizer()
train_tfidf= vectorizer.fit_transform(x_train)

In [9]:
TFIDF_train=pd.DataFrame(train_tfidf.toarray(),columns=vectorizer.get_feature_names_out())
TFIDF_train.head()

,__,___,____,_____,______,____________,__ntomohon,_also_,_kepada,_klompok,...,zuck,zul,zulkarnain,zulkifli,zumi,zumiiiii,zxfxfxxxfxfxaxa,zzzzzz,zzzzzzzz,zzzzzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
train_tfidf.shape

(14716, 33274)

In [11]:
col=TFIDF_train.columns

In [12]:
#stopword removal
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

list_stopwords = set(stopwords.words('indonesian'))

nonstop_tokens = [word for word in col if not word in list_stopwords]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\gilan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [13]:
train_tfidf = TFIDF_train[nonstop_tokens]

In [14]:
train_tfidf.shape

(14716, 32668)

In [15]:
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
import warnings
warnings.filterwarnings('ignore')

SVM_class = make_pipeline(SVC())
SVM_class.fit(train_tfidf, y_train)

Pipeline(steps=[('svc', SVC(gamma='auto'))])

In [16]:
test_tfidf = vectorizer.transform(x_test)

In [17]:
TFIDF_test=pd.DataFrame(test_tfidf.toarray(),columns=vectorizer.get_feature_names_out())
TFIDF_test.head()

,__,___,____,_____,______,____________,__ntomohon,_also_,_kepada,_klompok,...,zuck,zul,zulkarnain,zulkifli,zumi,zumiiiii,zxfxfxxxfxfxaxa,zzzzzz,zzzzzzzz,zzzzzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
test_tfidf=TFIDF_test[nonstop_tokens]

In [19]:
y_predict=SVM_class.predict(test_tfidf)

In [20]:
from sklearn.metrics import classification_report
print('\nClassification Report\n')
print(classification_report(y_test, y_predict, target_names=['0','1']))

Classification Report

              precision    recall  f1-score   support

           0       0.60      1.00      0.75      2190
           1       0.00      0.00      0.00      1490

    accuracy                           0.60      3680
   macro avg       0.30      0.50      0.37      3680
weighted avg       0.35      0.60      0.44      3680

##### ==============================================================================================================

In [16]:
from sklearn import svm
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings('ignore')

In [21]:
# Set parameter grid
param_grid = {
    'svc__C': [1, 10, 100],
    'svc__kernel': ['linear', 'rbf', 'poly'],
    'svc__gamma': ['scale', 'auto']
}

In [22]:
# Create pipeline
SVM_class = make_pipeline(SVC())

In [ ]:
# Grid search for hyperparameter tuning
grid_search = GridSearchCV(SVM_class, param_grid, cv=5, n_jobs=2)
grid_search.fit(train_tfidf, y_train)

In [ ]:
 Get the best parameters
best_params = grid_search.best_params_

# Create a new model with the best parameters
best_SVM_class = make_pipeline(SVC(**best_params))

# Fit the model
best_SVM_class.fit(train_tfidf, y_train)

# Print tuned hyperparameters and accuracy
print("Tuned Hyperparameters:", best_params)
print("Accuracy:", grid_search.best_score_)

##### ==============================================================================================================

In [17]:
from sklearn import svm
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
import warnings
warnings.filterwarnings('ignore')

In [18]:
from sklearn.model_selection import GridSearchCV

parameters = {
    'C':[1,10,100],
    'kernel':['linear', 'poly', 'rbf', 'sigmoid'],
    'gamma':['scale', 'auto']
}

In [19]:
SVM_class2= GridSearchCV(SVC(),
                            param_grid = parameters,   # hyperparameters
                            scoring='accuracy',        # metric for scoring
                            cv=5)

In [ ]:
SVM_class2.fit(train_tfidf, y_train)
print("Tuned Hyperparameters :", SVM_class2.best_params_)
print("Accuracy :",SVM_class2.best_score_)

In [ ]:
#### Testing

In [ ]:
test_tfidf = vectorizer.transform(x_test)

In [18]:
TFIDF_test=pd.DataFrame(test_tfidf.toarray(),columns=vectorizer.get_feature_names_out())
TFIDF_test.head()

,__,___,____,_____,______,____________,__ntomohon,_also_,_kepada,_klompok,...,zuck,zul,zulkarnain,zulkifli,zumi,zumiiiii,zxfxfxxxfxfxaxa,zzzzzz,zzzzzzzz,zzzzzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
import warnings
warnings.filterwarnings('ignore')

SVM_class = make_pipeline(SVC(gamma='auto'))
SVM_class.fit(x_train, y_train)

#### Classifiaction

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
import warnings
warnings.filterwarnings('ignore')

SVM_class = make_pipeline(SVC(gamma='auto'))
SVM_class.fit(train_tfidf, y_train)