In [1]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.tokenize import word_tokenize

In [2]:
df=pd.read_csv('data_after_cleansing_normalized.csv')

In [3]:
df.head()

,Tweet,HS,normalized_tweet,clean_tweet
0,- disaat semua cowok berusaha melacak perhatia...,1,- di saat semua pria berusaha melacak perhatia...,di saat semua pria berusaha melacak perhatian...
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,RT USER: USER siapa telat memberi tau elu?eda...,rt user user siapa telat memberi tau eluedan s...
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,"41. Kadang aku berfikir, kenapa aku tetap perc...",kadang aku berfikir kenapa aku tetap percaya ...
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,user user aku itu akunnku tau matamu sipit tap...
4,USER USER Kaum cebong kapir udah keliatan dong...,1,USER USER Kaum kecebong kafir sudah kelihatan ...,user user kaum kecebong kafir sudah kelihatan ...

#### Split Data

In [4]:
input_df=df['clean_tweet']
output_df=df['HS']

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(input_df, output_df, test_size = 0.2, random_state = 42)

In [6]:
x_train.head()

750         bi dorong pembiayaan syariat untuk pembangunan
4058     iya aku dipanggil anak kecil karena waktu itu ...
1190     user ayo sudah dukung penuh yg jelas gantipres...
5245     rt user ini ajaran pembanganghilang rasa horma...
14005    stra and cigarretes always taste like youuuu a...
Name: clean_tweet, dtype: object

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
train_tfidf= vectorizer.fit_transform(x_train)

In [8]:
TFIDF_train=pd.DataFrame(train_tfidf.toarray(),columns=vectorizer.get_feature_names_out())
TFIDF_train.head()

,__,___,____,____________,__ntomohon,_also_,_klompok,_sb_,_v,aa,...,zuhair,zul,zulkarnain,zulkifli,zumi,zumiiiii,zxfxfxxxfxfxaxa,zzzzzz,zzzzzzzz,zzzzzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
col=TFIDF_train.columns

In [10]:
#stopword removal
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

list_stopwords = set(stopwords.words('indonesian'))

nonstop_tokens = [word for word in col if not word in list_stopwords]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\gilan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
train_tfidf = TFIDF_train[nonstop_tokens]

In [12]:
train_tfidf.shape

(14716, 32740)

In [13]:
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
import warnings
warnings.filterwarnings('ignore')

SVM_class = make_pipeline(SVC())
SVM_class.fit(train_tfidf, y_train)

Pipeline(steps=[('svc', SVC())])

**Testing**

In [14]:
test_tfidf = vectorizer.transform(x_test)

In [15]:
TFIDF_test=pd.DataFrame(test_tfidf.toarray(),columns=vectorizer.get_feature_names_out())
TFIDF_test.head()

,__,___,____,____________,__ntomohon,_also_,_klompok,_sb_,_v,aa,...,zuhair,zul,zulkarnain,zulkifli,zumi,zumiiiii,zxfxfxxxfxfxaxa,zzzzzz,zzzzzzzz,zzzzzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
test_tfidf=TFIDF_test[nonstop_tokens]

In [17]:
y_predict=SVM_class.predict(test_tfidf)

In [18]:
from sklearn.metrics import classification_report
print('\nClassification Report\n')
print(classification_report(y_test, y_predict, target_names=['0','1']))

Classification Report

              precision    recall  f1-score   support

           0       0.80      0.90      0.84      2167
           1       0.82      0.67      0.74      1513

    accuracy                           0.81      3680
   macro avg       0.81      0.79      0.79      3680
weighted avg       0.81      0.81      0.80      3680